@import url("https://use.typekit.net/bbw8vfv.css");
@import url("https://use.typekit.net/bbw8vfv.css");
html,
body {
	background-color: #262626;
	scroll-behavior: smooth;
	margin: 0;
}
h1 {
	font-family: "amandine", sans-serif;
}
h2 {
	font-family: "stevie-sans", sans-serif;
	font-weight: 100;
}
a {
	font-family: "stevie-sans", sans-serif;
	font-weight: 100;
}
p {
	font-family: "stevie-sans", sans-serif;
	font-weight: 100;
}
.header {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.logo {
	color: white;
}
.logo h1 {
	font-size: 50px;
	margin: 0;
	margin-left: 50px;
}
.menuDesktop a {
	text-decoration: none;
	color: white;
	margin-left: 30px;
}
.menuDesktop a:hover {
	text-decoration: underline;
	text-underline-offset: 8px;
	color: white;
}
.schema {
	background-color: #797676;
	border-radius: 40px;
	padding-left: 10px;
	padding-right: 10px;
}
.schema:hover {
	background-color: bisque;
	text-decoration: none;
	color: black;
}
.menuDesktop {
	text-align: right;
	margin-right: 50px;
	margin-top: 10px;
}
#content {
	background-color: papayawhip;
	height: 700px;
}
#content h1 {
	text-align: center;
	padding-top: 60px;
	margin-top: 0;
	font-size: 60px;
}
.buttonHome a {
	text-decoration: none;
	padding: 20px;
	border-radius: 20px;
	color: black;
}
.buttonHome a:hover {
	text-decoration: underline;
	text-underline-offset: 8px;
}
.buttonHome {
	text-align: center;
	margin-top: 400px;
	padding: 0;
	scroll-behavior: smooth;
}
#content2 {
	display: flex;
	margin: 80px;
}
#content2 div {
	margin: 40px;
	color: white;
}
#content2 h2 {
	font-size: 20px;
}
#content2 img {
	width: 400px;
	margin-left: 50px;
}
#content3 {
	background-color: white;
	padding-bottom: 30px;
}
#content3 h1 {
	text-align: center;
	padding-top: 30px;
}
.email input {
	width: 550px;
	height: 50px;
	border: none;
}
.email {
	text-align: center;
	border: 1px solid black;
}
#footer {
	color: black;
	background-color: white;
	height: 100px;
	padding-bottom: 20px;
}
#footer h1 {
	margin-left: 50px;
	margin-bottom: 20;
}
.linkFooter {
	margin-bottom: 30px;
}
.linkFooter a {
	text-decoration: none;
	margin: 3%;
	color: black;
	margin-left: 50px;
}

.experiencesSelf a {
	text-decoration: none;
	width: 100%;
	color: white;
}
.experiencesSelf {
	text-align: center;
	margin-bottom: 100px;
}
.experiencesSelf a:hover {
	text-decoration: underline;
	text-underline-offset: 8px;
}
