@import url("https://use.typekit.net/bbw8vfv.css");
@import url("https://use.typekit.net/bbw8vfv.css");
body {
	background-color: #262626;
}
h1 {
	font-family: "amandine", sans-serif;
}
h2 {
	font-family: "stevie-sans", sans-serif;
	font-weight: 100;
}
a {
	font-family: "stevie-sans", sans-serif;
	font-weight: 100;
}
.header {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.logo {
	color: white;
}
.menuDesktop a {
	text-decoration: none;
	color: white;
	margin-left: 30px;
}
.menuDesktop a:hover {
	background-color: papayawhip;
	border-radius: 20px;
	color: white;
}
.menuDesktop {
	text-align: right;
	margin-right: 30px;
	margin-top: 10px;
}
#content {
	margin-top: 30px;
	background-color: papayawhip;
	height: 700px;
}
#content h1 {
	text-align: center;
	padding-top: 60px;
}
.buttonHome a {
	text-decoration: none;
	background-color: white;
	padding: 20px;
	border-radius: 20px;
	color: black;
}
.buttonHome {
	text-align: center;
	margin-top: 400px;
	padding: 0;
}
#content2 {
	display: flex;
}
#content2 div {
	margin: 40px;
	color: white;
}
#content2 h2 {
	font-size: 20px;
}
#content3 {
	background-color: white;
	padding-bottom: 30px;
}
#content3 h1 {
	text-align: center;
	padding-top: 30px;
}
.email input {
	width: 550px;
	height: 50px;
	border: none;
}
.email {
	text-align: center;
	border: 1px solid black;
}
#footer {
	color: black;
	background-color: white;
	height: 100px;
}
.linkFooter a {
	text-decoration: none;
	margin: 3%;
	color: black;
}
