.logo h1 {
	font-weight: 600;
	font-size: 50px;
}
h1 {
	font-weight: 200;
	font-size: 40px;
}
.goBackButton a {
	text-decoration: none;
	color: white;
}
.goBackButton img {
	color: white;
	width: 20px;
}
.goBackButton {
	display: flex;
	margin-top: 50px;
	margin-left: 50px;
}
.goBackButton:hover {
	text-decoration: underline;
	text-underline-offset: 8px;
	color: white;
}
.picture img {
	width: 100%;
	height: 600px;
}

.pictureText {
	width: 300px;
	margin-left: 150px;
	height: auto;
	padding: 20px;
	margin-top: -400px;
	position: absolute;
	background-color: white;
	opacity: 0.85;
	border-radius: 40px;
}
.picture {
	margin-top: 40px;
}
.underText {
	display: flex;
	margin-bottom: 90px;
}
.underText img {
	width: 400px;
	padding-left: 15%;
	margin-top: 100px;
}
.underText p {
	padding-top: 30px;
	margin-top: 100px;
	margin-right: 20%;
	margin-left: 50px;
	color: white;
}
.purpleRectangle {
	width: auto;
	height: 80px;
	margin-left: 200px;
	background-color: #7f5596;
	border-radius: 100px 0px 0px 0px;
}
