#content1 {
	color: white;
	display: flex;
	justify-content: space-between;
	margin-bottom: 300px;
	margin-top: 40px;
}
#content1 h1 {
	margin-left: 100px;
	font-weight: 200;
	margin-top: 50px;
}
#content1 p {
	width: 600px;
	margin-left: 100px;
}
.buttonsAanbod a {
	text-decoration: none;
	display: flex;
	margin-top: 40px;
	color: white;
	margin-right: 10px;
}
.fullBody {
	display: flex;
	align-items: flex-end;
}
.cardio {
	display: flex;
	align-items: flex-end;
}
.legs {
	display: flex;
	align-items: flex-end;
}
.upperBody {
	display: flex;
	align-items: flex-end;
}
.buttonsAanbod {
	margin-top: 90px;
	margin-right: 300px;
}
.buttonsAanbod :hover {
	text-decoration: underline;
	text-underline-offset: 8px;
}
.buttonsAanbod img {
	width: 20px;
	rotate: 90%;
	transform: rotate(180deg);
}
.purpleRectangle {
	width: auto;
	height: 80px;
	margin-left: 200px;
	background-color: #7f5596;
	border-radius: 100px 0px 0px 0px;
}
h1 {
	margin-top: 0px;
}
