h1 {
	font-weight: 200;
	font-size: 40px;
}

.purpleRectangle {
	width: auto;
	height: 600px;
	margin-top: 10px;
	margin-left: 100px;
	background-color: #7f5596;
	border-radius: 300px 0px 0px 300px;
	display: flex;
}
.title h1 {
	margin-left: 100px;
	font-weight: 200;
	margin-top: 90px;
	color: white;
}
.days {
	display: flex;
	flex-direction: column;
	padding-left: 90px;
	padding-top: 85px;
}

.days input {
	border: none;
	background-color: #7f5596;
	padding: 16px 32px;
	margin-top: 50px;
	color: white;
	font-size: 18px;
}
label {
	position: relative;
	cursor: pointer;
	font-size: 18px;
	color: white;
	margin: 17px;
}
label {
	font-size: 20px;
	font-family: "stevie-sans", sans-serif;
}
label:hover,
input[type="radio"]:checked + label {
	text-decoration: underline;
	text-underline-offset: 8px;
	color: white;
}
input[type="radio"] {
	display: none;
}
.time,
.group,
.experience {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 20px;
	width: 400px;
}
.filter {
	margin-top: 90px;
	margin-left: 30%;
}
.filter h2 {
	color: white;
	font-size: 18px;
}
select {
	background-color: #7f5596;
	color: white;
	width: 150px;
}
.readyButton {
	margin-top: 20px;
	margin-left: 5px;
	background-color: #7f5596;
}
.readyButton button:hover {
	text-decoration: underline;
	text-underline-offset: 8px;
}
#footer {
	margin-top: 60px;
}
.readyButton {
	background-color: #7f5596;
	border: none;
	color: white;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 20px;
}
