.goBackButton a {
	text-decoration: none;
	color: white;
}
.goBackButton img {
	color: white;
	width: 20px;
}
.goBackButton {
	display: flex;
	margin-top: 50px;
	margin-left: 50px;
}
.goBackButton:hover {
	text-decoration: underline;
	text-underline-offset: 8px;
	color: white;
}

.purpleRectangle {
	width: auto;
	height: 600px;
	margin-top: 50px;
	margin-left: 100px;
	background-color: #7f5596;
	border-radius: 300px 0px 0px 300px;
	display: flex;
	align-items: center;
}

.info {
	display: flex;
	flex-direction: column;
	color: white;

	margin-left: 90px;
}

form {
	display: flex;
	flex-direction: column;
}

.info div {
	margin-top: 20px;
}

button.button {
	margin-top: 20px;
	border: none;
	color: white;
	cursor: pointer;
	margin-top: 30px;
	background-color: #7f5596;
}
.button {
	font-size: 20px;
}
.form-control {
	width: 300px;
}
button.button:hover {
	text-decoration: underline;
	text-underline-offset: 8px; /* Verander de achtergrondkleur bij het hoveren over de knop */
}
#footer {
	margin-top: 100px;
}
